/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400, 700 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body {
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
}

.page-header {
    margin: 0px auto;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    height: 65px;
    margin: 0px 10%;
}

.top-nav-list {
    display: flex;
}


.req-inv-btn {
    width: 163px;
    height: 44px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 700;
}

.req-inv-btn:hover {
    cursor: pointer;
    opacity: 40%;
}

.top-nav-link {
    color: #9597A5;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 24px;
    padding-top: 32px;
    background-image: -webkit-linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));  
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    background-position: 50% 100%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: all 0.2s linear;
}

.top-nav-link:hover{
    background-size: 100% 4px;
}

.line, .cross {
    display: none;
}

.welcome {
    position: relative;
    background-color: hsl(0, 0%, 98%);
    padding: 158px 0px;
}
.wrapper {
    margin: 0px 10%;
}

.welcome h1 {
    margin:0px;
    color: hsl(233, 26%, 24%);
    width: 430px;
    font-weight: 300;
    font-size: 56px;
    line-height: 1.2;
}
.welcome p {
    color: hsl(233, 8%, 62%);
    max-width: 470px;
    line-height: 1.5;
    margin: 16px 0 30px;
}

.welcome .background-images {
    background-image: url(/img/image-mockups.png), url(/img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 90%, 160%;
    background-position: 250% 33%, 0px -300px;
    width: 57%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.features {
	background-color: hsl(220, 16%, 96%);
	padding: 80px 0;
}



.features-intro h2 {
	color: hsl(233, 26%, 24%);
	font-size: 40px;
	font-weight: 300;
}

.features-intro p {
	color: hsl(233, 8%, 62%);
	line-height: 1.5;
	max-width: 640px;
	margin: 25px 0 60px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 50px 25px;
}

.feature-box h3 {
	color: hsl(233, 26%, 24%);
	font-size: 25px;
	font-weight: 400;
	margin: 25px 0 20px;
}

.feature-box p {
	color: hsl(233, 8%, 62%);
	line-height: 1.5;
	font-weight: 300;
}

.latest-articles {
	background-color: hsl(0, 0%, 98%);
	padding: 80px 0 64px;
}

.latest-articles h2 {
	color: hsl(233, 26%, 24%);
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 40px;
}

.article-card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	color: hsl(233, 8%, 62%);
    margin:0
}

.article-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	display: block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.article-card .filler {
	padding:  30px;
}

.article-card small {
	font-size: 12px;
}

.article-card h3 {
	font-weight: 400;
	margin: 10px 0;
}
.article-card p {
	font-size: 16px;
}

.article-card a {
	color: hsl(233, 26%, 24%);
	text-decoration: none;
}

.article-card a:hover {
	color: hsl(136, 65%, 51%);
    transition: 0.3s;
}

.article-card p {
	line-height: 1.3;
}

footer {
	background-color: hsl(233, 26%, 24%);
}

.footer-intro {
	display: flex;
	justify-content: space-between;
	height: 200px;
	padding: 50px 0;
}

.footer-intro-left {
	width: 55%;
	display: flex;
	justify-content: space-between;
}

.footer-socials {
	width: 153px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-socials > img {
	align-self: flex-start;
}

.footer-socials .sm-icons {
	display: flex;
	justify-content: space-between;
    margin: 0px;
}

.footer-socials .sm-icons img:hover {
	color: hsl(136, 65%, 51%);
	filter: invert(70%) sepia(98%) saturate(340%) hue-rotate(74deg) brightness(180%) contrast(93%);
}

.footer-intro-left > ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
}

.footer-intro-left > ul li {
	align-self: flex-start;
}

.footer-intro-left ul a {
	color: hsl(0, 0%, 100%);
	text-decoration: none;
	font-size: 15px;
}

.footer-intro-left ul a:hover {
	color: hsl(136, 65%, 51%);
}

.footer-intro .footer-intro-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-intro-right .req-inv-btn {
	align-self: flex-end;
}

.footer-intro-right p {
	align-self: flex-end;
	color: hsl(233, 8%, 62%);
	font-size: 15px;
}

@media (max-width: 1023px) {

	body {
		text-align: center;
	}

	nav {
		position: relative;
		z-index: 1;
	}
    
	.top-nav-list {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: absolute;
		top: 80px;
		width: 100%;
		height: 40vh;
		padding: 20px 0;
		background-color: hsl(0, 0%, 100%);
		border-radius: 5px;
        display:none;
	}
    .nav-active {
		display: flex !important;
	}

	.top-nav-list li a {
		color: hsl(233, 26%, 24%);
	}

	.top-nav-list li a:hover {
		color: hsl(233, 8%, 62%);
		padding-bottom: 0;
	}

	nav > a {
		display: none;
	}
    nav > button {
        display: none;
    }

	.line {
		display: block;
		cursor: pointer;
	}

	.line-inactive {
		display: none;
	}

	.cross-active {
		display: block;
		cursor: pointer;
	}

	.welcome {
		padding: 640px 0 80px;
	}

	.welcome h1 {
		width: 100%;
		font-size: 43.2px;
	}

	.welcome p {
		max-width: 100%;
		margin: 40px 0;
	}

	.welcome .background-images {
		background-image: url("/img/image-mockups.png"), url("/img/bg-intro-mobile.svg");
		background-repeat: no-repeat;
		background-size: 90%, 100%;
		background-position: center -250px, center -140px;
		width: 100%;
		height: 70%;
		position: absolute;
		top: 0;
		right: 0;
	}

	.article-intro {
		text-align: left;
	}
    
}
@media (max-width: 767px) {

	.wrapper {
		width: 90%;
	}

	.welcome {
		padding-top: 85%;
	}

	.welcome h1 {
		width: 100%;
		font-size: 43.2px;
	}

	.welcome .background-images {
		background-position: center -125px, center -50px;
		background-size: 95%, 100%;
		width: 100%;
		height: 45vh;
	}

	.footer-intro {
		display: block;
		justify-content: space-between;
		height: 100%;
		padding: 40px 0;
	}

	.footer-intro-left {
		width: 100%;
		height: 100%;
		display: block;
		justify-content: space-between;
	}

	.footer-socials {
		width: 100%;
		margin: 0 auto;
		display: block;
	}

	.footer-socials .sm-icons {
		display: block;
		margin: 30px 0;
	}

	.footer-socials .sm-icons > a {
		margin: 0 5px;
	}

	.footer-intro-left > ul {
		display: block;
	}

	.footer-intro-left ul li {
		margin: 15px 0;
	}

	.footer-intro .footer-intro-right {
		display: block;
	}

	.footer-intro-right a {
		display: inline-block;
		margin-top: 15px;
	}

	.footer-intro-right p {
		margin-top: 30px;
	}

}